<!DOCTYPE html>
<html>
##  <script src="http://brython.info/src/brython_dist.js"></script>
  <link href="static/main.css" rel="stylesheet"/>
  <head>
    <title><%block name ="pageTitle"/></title>
    <link rel="shortcut icon" href="static/logo.jpg">  </head>
  <body onload="brython()">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>Shop</li>
          <li>Explore</li>
          <li>Account</li>
          <li>More about the VR</li>
          <li><a href="/savefile">Contribute Clothes</a></li>
        </ul>
      </nav>
    </header>
    <%block name="pageBody"/>
  </body>
</html>