<%inherit file="layout.html"/>
<%block name="pageTitle">Shop Central | Contribute Clothes</%block>

<%def name="field(tname,fname)">
        <tr>
            <td class="label">
                ${tname}:
            </td>
            <td>
                <input type="text" name="${fname}" value="${name}">
            </td>
        </tr>
</%def>

<%block name="pageBody">
  <h1 id = "title">Shop Central | Contribute Stock</h1>
  <p>If you have some stock you want to contribute to my VR mall just fill out this simple form.</p><br>
  <p>The form:</p>
  <form method="post">
    <table align="center" class="formadd">
        ${field("Name","name")}
        ${field("Description","description")}
        ${field("Gender(optional)","gender")}
        ${field("Price","price")}
        ${field("Blender File Name","blenderFile")}
        ${field("Shop","shop")}
        ${field("Place","place")}
        ${field("Position x,y,z","pos")}
        ${field("Scale","scale")}
        <input type="submit" class="button">
    </table>
  </form>
</%block>